<html>
<head>

</head>
<body>

<h1>TOITO</h1>
{% for annonce in annonces %}
    <h1>{{ annonce.title }}</h1>
    <h1>{{ annonce.description }}</h1>
    <h1>{{ annonce.link }}</h1>
{% endfor %}

</body>
</html>